  {{> head}}

  {{> navbar }}

  <div class="row">
  		<div class="col-8">
  			<h1>About</h1>
  			<p>
  				Hola como estas
  			</p>
  		</div>
  		<div class="col-4">
  			<img class="img-thumbnail" src="assets/img/about.png">
  		</div>
  </div>

{{> footer}}
